/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */

@font-face {
  font-family: 'Pyidaungsu';
  src: url('fonts/Pyidaungsu/Pyidaungsu.eot');
  src: url('fonts/Pyidaungsu/Pyidaungsu.eot?#iefix') format('embedded-opentype'),
      url('fonts/Pyidaungsu/Pyidaungsu.woff2') format('woff2'),
      url('fonts/Pyidaungsu/Pyidaungsu.woff') format('woff'),
      url('fonts/Pyidaungsu/Pyidaungsu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.904);
}

body {
  font-family: 'Pyidaungsu';
  color: rgb(113, 111, 111);
}

.lottery-tab-button.active{
  background: #f1b833!important;
  color: #ffffff;
  border: #f1b833 !important;
  text-decoration: none;
}

.lottery-tab-button{
  background : #ffffff!important;
  color: #ffffff;
  border: #ffffff;
  text-decoration: none;
}

.nav-header{
  font-size: 20px !important;
  padding: 0.5rem 1rem .5rem !important;
}

.navbar-nav .dropdown-menu.user-setting {
    position: absolute !important;
}
.nav .nav-treeview{
  height: auto !important;
}
/*current login user name on nav bar*/
.current_user{ 
  vertical-align: top;
}
a#navbarDropdown.nav-link.dropdown-toggle::after{
  padding-top:5px !important;
}
i.fas.fa-user-circle.fa-2x{
  margin-top: -4px !important;
}

li.nav-item.dropdown.current_login{
  font-size: 16px;
  font-weight: 600; 
  text-transform: capitalize; 
  color: #5F5F5F;
  margin-top: 4px;
}

/*role create */
.role-create{
    float: right;
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 110px;
  right: 0;
  bottom: 5px;
  width: 50px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 50px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #24CBA8;
  box-shadow: rgb(60, 190, 179) 0px 0px 0px 1;
  border-color: #24CBA8;
}

input:focus + .slider {
  box-shadow: rgb(60, 190, 179) 0px 0px 0px 1;
  border-color: #24CBA8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider2 {
  background-color:#24CBA8;
  box-shadow: rgb(100, 189, 99) 0px 0px 0px 1;
  border-color:#24CBA8;
}

input:focus + .slider2 {
  box-shadow: rgb(100, 189, 99) 0px 0px 0px 1;
  border-color: rgb(100, 189, 99);
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.input-group ::placeholder {
  color: #cdcdcd;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}

/*validation msg*/
.error-help-block{
  color: red !important;
}

/*For all Save button*/
.save{
  float: right;
}

/*Action Btns*/
.action-btn{
  margin-right: 3px;
}

.btn.color-remove-btn{
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.nav-item > .nav-link > p {
  font-size: 16px;
  padding-left: 10px;
}

.nav-treeview > .nav-item {
  padding-left: 10px;
}

.nav-sidebar .menu-open>.nav-link i.right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
  top: 0.9rem;
}

.nav-user-login{
  padding: 0.7rem 1.4rem;
}

.login-page{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-form{
  border: 1px solid #282828;
  text-align: center;
  padding: 50px 30px;
  border-radius: 12px;
}

.login-logo{
  display: inline-block;
  width: 180px;
  padding-top: 16px;
  height: 180px;
  background-color: #d0d0d0;
  border-radius: 25%;
}

.login-logo img{
  display: inline-block;
  width: 70%;
}

.login-sub-heading {
  font-size:1.7rem;
  font-weight: bold;
} 

.login-form .input-group-text{
  width: 41px;
  background: #282828;
  color: #fff;
}

.input100 {
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
}

.login-form .input-group-append,
.login-form .form-control,
.login-form .is-invalid,
.login-form .form-control:focus,
.login-form .is-invalid:focus{
  border:1px solid #282828;
  box-shadow:none;
}

.login-form .form-control,
.login-form .is-invalid,
.login-form .form-control:focus,
.login-form .is-invalid:focus{
  border-left: none;
}

.invalid-feedback{
  text-align: left;
}

.card .card-outline .card-primary {
  display: none;
}

.login-box .card-header  {
  display: none;
}

.login-card-body{
  display: none;
}

.login-box{
  display: none;
}

.main-header {
  padding: 9px 17px;
  background-color: #EDEDED !important;
}

.brand-link.akoneya-link{
  background: #FFF !important;
  padding: 7px 0 0 12px !important;
  border-bottom: none;
}

.akoneya-logo{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #d0d0d0;
  border-radius: 25%;
}

.akoneya-brand-image{
  position: absolute;
  width: 74%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.brand-text.akoneya-text{
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  vertical-align: bottom;
  font-size: 1.35rem;
  font-weight: bolder;
  color:#282828;
}

.elevation-3 {
  box-shadow:none !important;
}

.akoneya-sidebar{
  background-color: #282828;
}

.content-wrapper {
  padding-top: 16px !important;
}

button:focus {
  outline: none !important;
}

.akoneya-add-btn ,
.akoneya-add-btn:active,
.akoneya-add-btn:focus{
  background:#f1b833 !important; 
  color:#ffffff;
  border: #f1b833 !important;
  text-decoration: none;
  height: 38px;
}

.akoneya-add-btn:hover{
  background:#e8af28 !important; 
  color:#ffffff;
  border: #e8af28 !important;
  text-decoration: none;
  height: 38px;
}


.akoneya-edit-btn{
  background-color: #DEDEDE !important;
  border-color: #DEDEDE !important;
}


.news-description img,
.content img{
  float: left; 
  width: 100%;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, 
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus {
  background-color: rgba(224, 223, 223, 0.1);
  color: #F4F4F4;
  font-weight: 550;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgba(255,255,255,.1);
  box-shadow: none !important;
  color: #fff;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
  background-color: rgba(224, 223, 223, 0.1);
  color: #F4F4F4;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus, 
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover {
  background:none;
  border:none;
}

 .nav-link.active .fa-circle:before {
  background-color: #F4F4F4;
  border-radius: 50%;
}

.akoneya-search-btn, 
.remove-field-btn, 
.add-field-btn{
  background-color: #f1b833;
  color: #fff;
  border:none;
  height: 38px;
  line-height: 32px;
  border-radius: 0;
}

.akoneya-search-btn:hover,
.add-field-btn:hover{
  background-color:#e8af28;
  color: #fff;
}

ul.nav-tabs .akoneya-nav-item {
  text-align: center;
}

ul.nav-tabs .akoneya-nav-link .nav-title{
  margin: 5px 0;
  font-size: 1.2rem;
  color: #282828;
}
ul.nav-tabs .akoneya-nav-link.active .nav-title{
  font-size: 1.2rem;
  color: #4e504f;
}
ul.nav-tabs .akoneya-nav-link.active{
  border-top: 3px solid #282828;
}

ul.nav-tabs .akoneya-nav-link{
  border-top: 3px solid #fff;
}

.add-field-btn:active,
.add-field-btn:focus,
.add-field-btn:hover{
  text-decoration: none;
  background-color: #e8af28;
}

.remove-field-btn{
  padding: 5px 14px;
  background-color: #dc3545;
}

.remove-field-btn:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.akoneya-detail-btn{
  background-color: #24CBA8 !important;
  border-color: #24CBA8 !important;
  color: #ffffff;
}

.akoneya-detail-btn:hover,.akoneya-info-btn:hover{
  color: #ffffff;
}


.akoneya-info-btn{
  color: #ffffff;
  background-color: #5eb0bf !important;
  border-color: #5eb0bf !important;
}

.akoneya-purple-btn:hover{
  color: #ffffff;
}

.akoneya-purple-btn{
  color: #ffffff;
  background-color: #800080 !important;
  border-color: #800080 !important;
}

.akoneya-warning-btn{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover {
  background-color: #DBD6D6 !important;
  border-color: #DFDCDC;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
  color: #1f2d3d;
  background-color: #DEDEDE;
  border-color: #DEDEDE;
}

.btn-warning.focus, .btn-warning:focus {
  color: #1f2d3d;
  background-color: #DEDEDE;
  border-color: #DEDEDE;
  box-shadow: none;
}

.custom-submit-btn{
  width: 350px;
  padding: 10px 30px;
  background: #f1b833;
  color: #fff; 
  margin: auto;
  text-align: center; 
  border: none; 
  border-radius: 4px;
}
.select2-selection__choice{
  color:#333333 !important;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item.menu-open > .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  box-shadow: none;
}

.form-control, 
.input-group.phone_records,
.input-group.remove{
  width: 100%;
}

.input-group.remove .input-group-append{
  width: 42px;
}

.update-wrapper, .create-wrapper, .detail-wrapper{
  padding: 3.5rem;
  margin: 1.5rem;
}

.form-check{
  display: inline-block;
  width: 49%;
}

.modal .modal-header{
  color: #fff;
  background-color: #282828;
}

.modal .close{
  color: #fff;
}

.modal .form-group{
  display: inline-block;
  width: 100%;
}

.modal .form-control, .reference .form-control{ 
  width: 100%;
}

.form-control:focus {
  border-color: #7b808487;
  outline: 0;
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.page-item.active, .page-link, .page-item:focus {
  box-shadow: none !important;
  color: #828282;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-right: 5px;
}

.detail-wrapper #img_url,
.update-wrapper #img_url {
  width: 100px;
  cursor: pointer;
  height: auto;
} 

input[type='file']{
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
  cursor: pointer;
  width: 100px;
  height: 80px;
}

.page-item.active .page-link {
  background: #f1b833 !important;
  border-color: #f1b833 !important;
}
.travel_blog_photos_padding{
  padding-bottom:50px;
}
.media-detail-custom-style{
  margin-left: 15px;
}

.detail-edit{
  margin-left: 15px;
}

.form-group > p > img{
  margin-bottom: 20px;
  margin-left: 0px !important;
}

.newsfeed .detail-bottom,
.shoppingfeed .detail-bottom,
.cargate .detail-bottom
{
  display: inline-block;
  width: 100%;
}

.job .detail-bottom,
.vendor .detail-bottom,
.bus .detail-bottom,
.real-estate .detail-bottom,
.real-estate .media{
  display: inline-block;
  width: 85%;
}

.vendor .vendor-profile,
.cargate .image img{
  display: inline-block;
}

.newsfeed .profile-img img,
.vendor .profile-img img,
.cargate .image img,
.shoppingfeed .profile-img img{
  cursor: default !important;
  height: 100px !important;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.shoppingfeed .original-price{
  margin-right: 5px;
  text-decoration: line-through;
}

.shoppingfeed .price{
  font-size: 16px;
  font-weight: bold;
}

.shoppingfeed .available-status-icon{
 display:inline-block;
 width: 14px;
 height: 14px;
 border-radius: 50%;
}

.shoppingfeed .status,
.vendor .status{
  display: inline-block;
  padding: 4px 10px;
  border-radius: 25px;
  background-color: #f7f6f6db; 
}

.shoppingfeed .product-name, 
.real-estate .title, 
.real-estate .price,
.cargate .title,
.bus .title,
.job .title{
  color: #28a745;
  font-weight: bold;
}

.tbl-header{
  background-color:#f4f4f4;
}

.status-icon .fa{
  margin-right: 5px;
  border-radius: 50%;
}

.status-icon .fa-ban,
.status-icon .fa-times-circle{
  color:#dc3545;
}

.status-icon .fa-check-circle{
  color: #28a745;
}

.ban-status input:checked + .slider2 {
  background-color:#dc3545;
}

ul.img-list{
  display: table;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

ul.img-list li{
  display: inline-block;
  list-style: none;
  width: 25%;
  vertical-align: bottom;
}

ul.img-list li img, .job-photo img{
  float: none;
  width: auto !important;
}

.detail-bottom{
  letter-spacing: 1px;
  border-bottom: 1px solid  #ced4da;
  width: 50%;
  margin-top: 0;
  padding-bottom: 3px;
}
.available-service{
  display: inline-block;
  width: 85%;
}
#imgUrl, #update_imagepath,
#update_thumbImagepath,#thumbnailImgUrl{
  display: block;
  width: 21%;
}

img.photoUrl{
  display: inline-block;
  width: 50%;
}

#categoryImgUrl{
  display: block;
  width: 4rem;
}

.month-picker .picker-switch{
  display: none !important;
}

.month-picker .bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
  display: none;
}

.location-img img{
  width: 300px;
}

.slotReel-img {
  display: block;
  width: 6rem;
}

.cargate-img img, .tutorial-img img{
  width: 150px;
  height: 100px;
}

.table td, .table th{
  vertical-align: middle !important;
}
.table td a.orderNo{
  text-decoration: underline;
  font-weight: bold;
}
.table .btn{
  margin: 0.1rem;
}

.card-header .input-group{
  margin: 0.2rem 0;
}

.pagination{
  float:right;
  margin-right: 10px;
}

.box-profile .akoneya-client-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 5px;
}

.isp-img img{
  width: 100px;
}

.isp-del{
  padding-left: 10px;
  margin-right: 0!important;
}

.update-wrapper, .create-wrapper{
  padding: 3.5rem;
  margin: 1.5rem;
}

img.rounded.mx-auto.d-block.home_page_img_slider{
  width: 555px;
  height: 150px;
}

button.btn.btn-danger.btn-sm.home_page_img_slider_btn{
  margin-top: 60px;
}

th.home_page_img_slider_th{
  text-align: center;
}

td.home_page_img_slider_btn{
  text-align: center;
}

td.home_page_img_slider_td{
  text-align: center;
}

.table.global-tbl th.col1{
  width:12%;
}

.table.global-tbl th.col2,
.table.global-tbl th.col3{
  width:36%;
}

.rate-title, .bank-title, .internet-title{
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.description img, .content .csv-icon{
  width: 80px;
  height: 80px;
}


.wrong-display{
  display: block!important;
  }
  
.recap{
  display: none;
}

#invalid-feedback1,
#invalid-feedback2 {
  text-align: left;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}
.user-block {
  float: left;
}
.post .user-block {
  margin-bottom: 15px;
  width: 100%;
}

.is-holiday{
  float:right;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0 10px;
  line-height: 1.6;
  border-radius: 4px;
  color: #ffffff;
}

.is-holiday.public-holiday{
  background-color: #24cba8b8;
  
}
.is-holiday.special-day{
  background-color: #fd7043b8;
}

.generalRoute{
  width: 45%;
}

.arrival-bus table td{
  border-top: none!important;
}

i.fa.fa-map-marker-alt.generalRoute{
  color:#f1b833;
}

/* Voucher Design */
#clr-bot {
  clear: both !important;
}

.voucher-detail header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#voucher {
  font-size: 35px;
}

#head-line {
  border-top: 1px solid #0000004d;
  border-bottom: 1px solid #0000004d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#head-line #voucher-date {
  float: left;
}

#head-line #voucher-time {
  float: left;
}

#head-line #voucher-num {
  float: right;
}

#customer {
  float: left;
}

#customer span {
  width: 77px;
  color: #000000;
  margin-right: 10px;
  display: inline-block;
  font-style: bold;
}

#surveyVoucher span {
  width: 77px;
  color: #007bff;
  margin-right: 10px;
  display: inline-block;
  font-style: bold;
}


#vendor span {
  color: #000000;
  font-style: bold;
}

#vendor {
  float: right;
  text-align: right;
}

.b-text {
  font-weight: bold;
  text-align: center;
}

#voucher-items table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border: 1px solid #0000004d;
}

#voucher-items table tr:nth-child(2n-2) td {
  background: #F5F5F5;
}

#voucher-items table th{
  text-align: center;
  font-weight: bold;
  background-color: #28987e4f;
  white-space: nowrap;
  padding: 20px;

}
#voucher-items table td {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  border-top: 1px solid #0000004d;

}

.voucher-text-left {
  text-align: left !important;
}

/* End Voucher Design */
.menu{
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.menu-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

#treeview{
  margin-top: 15px;
}

.menu-name{
  display: block;
  margin-bottom:10px
}

span.subcategories-title {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #343a40;
  padding: 0;
  margin-left: -10px;
}

.text-dark {
  text-transform: capitalize;
  font-weight: bold;
}
span.add-new-btn-text {
  padding: 0 10px;
}

.order-no{
  font-size: 1.3rem;
  color: #0ba584;
}
.time:hover {
cursor: pointer;
}

span.akoneya-back-btn-text {
  padding: 0 5px;
  margin: 0;
}

/* Order Details */
table.order-table tr.order-row,
table.permission-table thead th{
  background-color: #cfd8d038;
}
table.order-table{
  border-radius: 5px;
  background-color: #e2dcdc38;
}
table.order-table th,
table.order-table td{
  border:none;
}
table.order-table .col1{
  width: 8%;
}
table.order-table .col2{
  width: 16%;
}
table.order-table .col3{
  width: 10%;
}
table.order-table .col4{
  width: 6%;
}
table.order-table .col5{
  width: 10%;
}
table.order-table .col6{
  width: 22%;
}
table.order-table .col7{
  width: 16%;
}
table.order-table .col8{
  width: 12%;
}
.customer{
  display: table;
}
.customer-img,.customer-name{
  display: table-cell;
  vertical-align: middle;
}
.customer-img{
  width: 30%;
}
.customer-img img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.customer-name{
  width: 70%;
}
.customer-name a{
  text-decoration: underline;
}
.address-map{
  width:100%;
  height:400px;
  margin-top:15px;
}
/* Phone Table */
table.phone-table .col1{
  width: 95%;
}
table.phone-table .col2,
table.color-table .col5{
  text-align: center;
  width: 5%;
}
table.phone-table i.fa-plus,
table.color-table i.fa-plus{
  color:#e8af28;
}
table.phone-table .col2 .remove-field,
table.color-table .col5 .input-group-append{
  display: block;
}
table.color-table .col1,
table.color-table .col2,
table.color-table .col3,
table.color-table .col4{
  width: 20%;
}



.akoneya-image-area img{
  width: 100%;
  height: 250px;
}
.akoneya-remove-image {
display: inline;
position: absolute;
top: -10px;
right: 5px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
color: #ffffff;
background: #dc3545;
}
.akoneya-remove-image:hover {
 background: #e02537;
  padding: 3px 7px 5px;
  top: -10px;
  right: 5px;
}
.akoneya-remove-image:active {
  background: #e02537;
  top: -10px;
  right: 5px;
}

.akoneya-image-area>input[type='file']{
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 240px;
}

/* .slotRewardReel-img {
  height: 55px;
  width: 55px; 
  border-radius: 2em;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
} */

.weekDays-selector input[type=checkbox]:checked + label {
  background: #05d79f;
  color: #ffffff;
}

.tutoVideo .error-help-block{
  position: relative;
  top: 2.3rem;
  right: 6.3rem;
}

.hide {
  display: none !important;
}

.text-danger {
  color: #dc3545 !important;
}

.label-success {
  background-color: #5cb85c;
}

.label-danger {
  background-color: #d9534f;
}

#surveyOrder {
  font-size: 30px;
}

table.survey-voucher i.fa-plus{
  color:#e8af28;
}

table.survey-voucher .col2{
  text-align: center;
  width: 5%;
}

.slotRewardReel-img {
  width: 60px;
  height: 60px;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.125) 3px 3px 5px, rgba(255, 255, 255, 1) -3px -3px 5px;
}

#reelOne option{
  padding: 20px;
}

.slot-container {
   background-color: rgba(0,0,0,.05);
}
.slot-card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.125) 3px 3px 5px, rgba(255, 255, 255, 1) -3px -3px 5px;
}

.round-15 {
  border-radius: 15px !important;
}